body {
  min-height: 100vh;
  background: #c2c2c2;
  color: #2e2e2e;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.padding {
  padding-bottom: 2rem !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler span,
.navbar-toggler span:focus {
  border: none !important;
  background: transparent !important;
  outline: none !important;
}

.fade {
  opacity: 1;
}

.hide {
  display: none !important;
}

.stars .fa-star {
  color: #ddd;
}

.stars .fa-star.active {
  color: orange;
}

.logo-text {
  font-family: 'Sofia', cursive;
  font-weight: bolder;
  font-size: 16px;
}

.top-menu {
  background: #e9e9ee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* overflow: hidden;   */
  z-index: 1;
  height: 80px;
}

.btn-statics {
  position: relative;
  color: #555;
}

.statics {
  position: relative;
}

.top-menu .statics .fa {
  font-size: 28px;
  color: #555;
}

#top-cart .badge {
  position: absolute;
  right: 0px;
  font-size: 11px;
}

/* Drop down menu tab */
.profile {
  background: #1e1e1e;
  position: fixed;
  top: 50px;
  right: 0;
  min-height: 240px;
  border-radius: 5px;
  color: #ddd;
  width: 280px;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 1;
}

.profile .prof-pic {
  width: 30%;
  margin: 10px auto;
}

.prof-social {
  padding: 12px;
  margin-top: 20px;
}

.prof-social-icons {
  list-style-type: none;
}

.prof-social-icons li {
  padding: 4px;
}

.prof-social-icons a {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #33353d;
  color: #ddd;
}

/* Side nav */
.side-nav {
  background: #fff url("../img/logo.png") no-repeat center center;
  background-size: cover;
  height: 0;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* Scroll bars */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* footer */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  margin-left: 300px;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr.hr-slim {
  border-top: 1px solid #fff;
  margin: .2rem auto;
  width: 98%;
  clear: both;
}

/* Search result side bar */
.search-side-bar {
  width: 300px;
  float: left;
  background: #dedede;
  padding: 10px;
  text-align: left;
  height: 100vh;
  position: fixed;
  left: 0;
  overflow-y: auto;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  z-index: 100000;
  top: 80px;
}

nav.search-side-bar.slide {
  margin-left: -300px !important;
}

.expand-side {
  position: fixed;
  top: 94%;
  left: 252px;
  background: #26272b;
  color: #fff;
  /* padding: 1rem; */
  font-size: 2rem;
  z-index: 9999999;
  height: 3rem;
  width: 3rem;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.expand-side.min {
  left: 0 !important;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.btn-expand-ssb {
  display: none;
  position: fixed;
  left: 0;
  font-size: 1.2rem;
  padding: 10px;
  margin: 5px;
  -webkit-transform: all .6s;
          transform: all .6s;
  outline: none;
  z-index: 10000;
}

.btn-expand-ssb:hover {
  font-size: 1.5rem;
  outline: none;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.btn-expand-ssb {
  background: transparent;
}

.ssb-li-parent {
  background: #d7d7d7;
  margin: 10px;
}

.ssb-header {
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}

.ssb-li {
  margin: 10px;
}

.ssb-li a {
  text-decoration: none;
  color: #555;
  font-size: 11px;
}

.ssb-ul {
  background: #eee;
  padding: 10px 16px;
}

.clear-left {
  margin-left: 300px;
  width: calc(100vw - 300px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
  min-height: 100vh;
}

.clear-left.clear {
  margin-left: 00px !important;
  width: 100vw !important;
}

.showcase-universal {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  top: 0;
}

.showcase-universal .scroll-buttons {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.showcase-universal .scroll-buttons button {
  position: absolute;
  top: 45%;
  width: 7rem;
  width: 7rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.showcase-universal .scroll-buttons button .fa {
  font-size: 5rem;
  color: #fff;
}

.showcase-universal .scroll-buttons .btnNext {
  right: 10px;
}

.showcase-universal .scroll-buttons .btnPrev {
  left: 10px;
}

.showcase-universal .scroll-buttons button:hover {
  border: 1px solid #ddd;
  border-radius: 50%;
  background: rgba(249, 249, 249, 0.3);
}

.showcase-universal .indicators {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100%;
  overflow-x: hidden;
  height: 120px;
}

.showcase-universal .indicators ol {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow-x: hidden;
}

.showcase-universal .indicators .li-indicator {
  width: 300px;
  height: 80px;
  background: #ddd;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px 3px #ddd;
          box-shadow: 2px 2px 3px 3px #ddd;
  color: #111;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 10px;
  overflow: hidden;
}

.showcase-universal .indicators .li-indicator img {
  height: 80px;
  width: auto;
}

.showcase-universal .indicators .li-indicator h3 {
  font-size: 16px;
  color: #111;
  padding: 5px;
  font-weight: 600;
}

.showcase-universal .one {
  background: #020005 url("../img/front/imani-bahati-LxVxPA1LOVM-unsplash (1).jpg") no-repeat center center;
}

.showcase-universal .two {
  background: #020005 url("../img/front/icons8-team-seDjj4dmC9s-unsplash.jpg") no-repeat center center;
}

.showcase-universal .showcase-outer {
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
  overflow: hidden;
  display: none;
}

.showcase-universal .showcase-outer .showcase {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.showcase-universal .showcase-outer .showcase .content {
  position: relative;
  top: 30%;
  left: 20%;
  height: 100%;
  z-index: 1000;
}

.showcase-universal .showcase-outer .showcase .content h1.non-display {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Redressed', cursive;
}

.showcase-universal .showcase-outer .showcase .content p {
  font-size: 16px;
}

.showcase-universal .showcase-outer .showcase .content button {
  background: orangered;
  border-radius: 20px;
  margin-top: 50px;
  padding: 12px;
  color: #fff;
  width: 50%;
}

.showcase-universal .showcase-outer.active {
  display: block;
}

.welcome-nav {
  padding: .9rem 1rem .4rem;
  width: 100%;
  z-index: 1000 !important;
}

.welcome-nav a.btn.circle {
  border: 2px solid #f9f9f9;
  width: 2.5rem;
  height: 2.5rem;
}

.welcome-nav .fa,
.welcome-nav .fab {
  font-size: 1rem;
  color: #fff;
}

.welcome-nav a.btn.right .fa,
.welcome-nav a.btn.right .fab {
  font-size: 2rem;
}

.welcome-nav .nav-2 .nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.welcome-nav .nav-2 .nav-link:hover::after {
  content: '';
  width: 100%;
  border-bottom: 2px solid #fff;
  padding: 4px;
  display: block;
  position: relative;
}

.products-outer {
  overflow: hidden;
  background: #f1f1f1;
}

.products-outer .prod-header {
  font-family: 'Redressed', cursive;
  text-align: center;
}

.products-outer .prod-header::after {
  content: "";
  display: block;
  height: 16px;
  background: rgba(11, 207, 93, 0.753);
  width: 80px;
  margin: 2px auto;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.products-outer .products {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  background: #f1f1f1;
  position: relative;
}

.products-outer .products .prod-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
}

.products-outer .products .prod-buttons .btn-prod {
  position: absolute;
  top: 30%;
  font-size: 3.5rem;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}

.products-outer .products .prod-buttons .btn-prod:hover {
  -webkit-animation: shake 1s;
          animation: shake 1s;
}

.products-outer .products .prod-buttons .prodNext {
  right: 0;
}

.products-outer .products .prod-buttons .prodPrev {
  left: 0;
}

.products-outer .products .arrivals,
.products-outer .products .picks {
  overflow-x: hidden !important;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  width: 3100px;
  margin-left: -16px;
}

.products-outer .products .arrivals .card,
.products-outer .products .picks .card {
  border: none;
  outline: none;
  border-radius: 16px;
  height: 480px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 0 0 10px 0 !important;
  background: #949596;
  color: #fff;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  position: relative;
  margin: 10px auto;
}

.products-outer .products .arrivals .card:hover,
.products-outer .products .picks .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.products-outer .products .arrivals .card .product,
.products-outer .products .picks .card .product {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 16px;
}

.products-outer .products .arrivals .card .product .info,
.products-outer .products .arrivals .card .product .cost,
.products-outer .products .picks .card .product .info,
.products-outer .products .picks .card .product .cost {
  position: relative;
  top: 60%;
}

.products-outer .products .arrivals .card .product .prod-name,
.products-outer .products .picks .card .product .prod-name {
  padding: 10px auto;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}

.products-outer .products .arrivals .btn-link,
.products-outer .products .picks .btn-link {
  padding: 10px;
  font-size: 2.4rem;
  float: inline-end;
}

.products-outer .products .arrivals .prod,
.products-outer .products .picks .prod {
  width: 320px;
  margin: 5px 16px;
}

@-webkit-keyframes slideLeft {
  from {
    margin-left: 200px;
  }
  to {
    margin-left: -40px;
  }
}

@keyframes slideLeft {
  from {
    margin-left: 200px;
  }
  to {
    margin-left: -40px;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.catalogue .display-4 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  margin: 20px auto;
}

.catalogue .display-4::after {
  content: "";
  display: block;
  height: 16px;
  background: rgba(11, 207, 93, 0.753);
  width: 80px;
  margin: 2px auto;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.catalogue span {
  font-size: 1.4rem;
  margin: .1rem;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  word-spacing: 1px;
}

.cat-div {
  position: relative;
}

.cat-div .cat-btn {
  position: absolute;
  top: 95%;
  width: 90%;
  text-align: center;
  left: auto;
  right: auto;
  clear: both;
}

.product-showcase {
  min-height: 100vh;
}

.product-showcase .product-img-div {
  position: relative;
  height: 90vh;
  font-family: 'Crimson Text', serif;
}

.product-showcase .product-img-div .display-img {
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  -webkit-transition: .1s;
  transition: .1s;
}

.product-showcase .product-img-div .img-list {
  height: 20%;
}

.product-showcase .product-img-div .img-list a {
  height: 100%;
}

.product-showcase .span-input {
  padding: 1rem;
  margin: 10px;
  background: white;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-showcase .span-input:hover {
  padding: 1.1rem;
}

.product-showcase .span-input.active {
  background: #0000ff;
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 1.1rem;
}

.product-showcase .span-colors {
  border-radius: 50%;
  height: 3.7rem;
  width: 3.7rem;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-showcase .span-colors.active {
  height: 4rem;
  width: 4rem;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.product-showcase .span-colors.active::after {
  content: '\2713';
  display: block;
  padding-left: 5px;
  font-weight: 800;
}

.site-footer.slide {
  margin-left: 0 !important;
}

@media (max-width: 1024px) {
  .showcase-outer .showcase .content {
    position: relative;
    top: 30%;
    left: 50px !important;
  }
  .showcase-outer .showcase .content h1.non-display {
    font-size: 8px;
    font-weight: bold;
    font-family: 'Redressed', cursive;
  }
  .showcase-outer .showcase .content .display {
    font-size: 2.4rem;
  }
  .showcase-outer .showcase .content p {
    font-size: 16px;
  }
  .showcase-outer .showcase .content button .btnNext {
    right: 0 !important;
  }
  .showcase-outer .showcase .content button .btnPrev {
    left: 0 !important;
  }
  .products .prod-buttons .btn-prod {
    width: 5rem;
    height: 5rem;
    font-size: 2.8rem;
  }
}

@media (max-width: 768px) {
  .clear-left {
    margin-left: 0 !important;
    width: 100vw !important;
  }
  .search-side-bar {
    margin-left: -300px !important;
  }
  nav.search-side-bar.slide {
    margin-left: 0 !important;
  }
  .expand-side {
    left: 0 !important;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .expand-side.min {
    left: 252px !important;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-width: 576px) {
  .top-menu {
    height: 100px !important;
  }
  .top-menu .navbar-collapse {
    background: #e9e9e9;
    padding-right: 20px;
  }
  .site-footer {
    margin-left: 0 !important;
  }
  .showcase-universal .scroll-buttons button {
    top: 45%;
    width: 5rem;
    width: 4rem;
  }
  .showcase-universal .scroll-buttons button .fa {
    font-size: 3rem;
    color: #fff;
  }
  .showcase-universal .scroll-buttons .btnNext {
    right: 0;
  }
  .showcase-universal .scroll-buttons .btnPrev {
    left: 0;
  }
  .showcase-universal .showcase-outer .showcase .content {
    position: relative;
    top: 10%;
    left: 10px !important;
  }
  .showcase-universal .showcase-outer .showcase .content h1.non-display {
    font-size: 8px;
    font-weight: bold;
    font-family: 'Redressed', cursive;
  }
  .showcase-universal .showcase-outer .showcase .content .display {
    font-size: 2.4rem;
  }
  .showcase-universal .showcase-outer .showcase .content p {
    font-size: 14px !important;
  }
  .showcase-universal .showcase-outer .showcase .content button {
    border-radius: 14px !important;
    width: 200px !important;
    margin-top: 70px !important;
  }
  .welcome-nav {
    padding: .4rem .5rem;
    z-index: 100000000 !important;
  }
  .welcome-nav a.btn.circle {
    border: 2px solid #f9f9f9;
    width: 2rem;
    height: 2rem;
  }
  .welcome-nav .fa,
  .welcome-nav .fab {
    font-size: 1rem;
    color: #fff;
  }
  .welcome-nav a.btn.right .fa,
  .welcome-nav a.btn.right .fab {
    font-size: 1.4rem;
  }
  .products-outer .prod-header {
    font-size: 1.8em;
  }
  .products-outer .products {
    overflow-x: scroll !important;
  }
  .products-outer .products .prod-buttons {
    display: none;
  }
  .products-outer .products .prod-buttons .btn-prod {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.8rem;
    top: 40%;
  }
  .products-outer .products .arrivals,
  .products-outer .products .picks {
    width: 3100px !important;
  }
  .products-outer .products .prod .card {
    height: 410px !important;
  }
  .catalogue .display-4 {
    font-size: 1.8rem;
  }
  .catalogue span {
    font-size: .9rem;
  }
  .site-footer .social-icons {
    text-align: center !important;
  }
}

@media (max-width: 400px) {
  .welcome-nav {
    padding: .3rem 0;
  }
  .welcome-nav a.btn.circle {
    border: 1px solid #f9f9f9;
    width: 1.8rem;
    height: 1.8rem;
  }
  .welcome-nav .fa,
  .welcome-nav .fab {
    font-size: .6rem;
    color: #fff;
  }
  .welcome-nav a.btn.right .fa,
  .welcome-nav a.btn.right .fab {
    font-size: .8rem;
  }
  .indicators {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */